.dashboard {
    max-width: 800px;        
    margin: 80px auto;        
    display: flex;
    flex-direction: column;
}

.dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.dashboard-header h1 {
    font-size: 32px;
    font-weight: 700;
    color: #222;
    margin: 5px 0;
}

.dashboard-separator {
    width: 100% ;
    border: none;
    border-top: 2px solid lightgray; 
    margin-bottom: 40px;       
}

.create-project-btn  {
    padding: 10px 16px;
    background-color: #4A90E2;  
    color: #fff;
    font-weight: 600;
    border-radius: 6px;
}

.create-project-btn:hover {
    color: #fff;
    background-color: #357ABD;   
}
