.my-projects {
    max-width: 1400px;
    width: 100%;
    margin: 40px auto;
    padding: 0 40px;
    display: flex;
    flex-direction: column;
}

.project-cards-masonry {
  display: flex;
  width: 100%;
}

.project-cards-column {
  padding: 0 10px;
  background-clip: padding-box;
}

.my-projects-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.my-projects-header h1 {
    font-size: 26px;
    font-weight: 700;
    color: var(--text-primary);
    margin: 0;
}

.my-projects-separator {
    width: 100%;
    border: none;
    border-top: 1px solid var(--border);
    margin-bottom: 30px;
}

.create-project-btn {
    padding: 8px 20px;
    background-color: var(--accent);
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    border-radius: 6px;
    border: none;
    transition: background-color 0.2s;
}

.create-project-btn:hover {
    color: #fff;
    background-color: var(--accent-hover);
}
