.project {
    display: flex;
    flex-direction: column;
}

.project-toolbar {
    display: flex;
    justify-content: flex-end;
    padding: 0 10px;
    margin-bottom: 16px;
}

.project-separator {
    width: 100%;
    border: none;
    border-top: 1.5px solid lightgray;
    margin-top: 2px;
    margin-bottom: 20px;
}

.create-task-btn {
    padding: 8px 40px;
    background-color: #4A90E2;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    border-radius: 6px;
}

.create-task-btn:hover {
    color: #fff;
    background-color: #357ABD;
}
