#root {
  width: 100%;
}

.app-layout {
  display: flex;
}

.app-content {
  margin-left: var(--sidebar-width);
  min-width: 0;
  flex: 1;
}

@media (max-width: 768px) {
  .app-content {
    margin-left: 0;
  }
}
